<?xml version="1.0"?>
<config>
	<modules>
		<Crius_ConfigDanish>
			<version>0.2.1</version>
		</Crius_ConfigDanish>
	</modules>
	<global>
		<resources>
			<config_danish_setup>
				<setup>
					<module>Crius_ConfigDanish</module>
                    <class>Crius_ConfigDanish_Model_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</config_danish_setup>
			<config_danish_write>
				<connection>
					<use>core_write</use>
				</connection>
			</config_danish_write>
			<config_danish_read>
				<connection>
					<use>core_read</use>
				</connection>
			</config_danish_read>
		</resources>
		<models>
			<directory>
				<rewrite>
					<currency>Crius_ConfigDanish_Model_Currency</currency>
				</rewrite>
			</directory>
		</models>
	</global>
	<frontend>
        <layout>
            <updates>
                <danishaddress>
                    <file>danishaddress.xml</file>
                </danishaddress>
            </updates>
        </layout>
    </frontend>
    <adminhtml>       
        <translate>
            <modules>
                <Crius_ConfigDanish>
                    <files>
                        <default>Crius_ConfigDanish.csv</default>
                    </files>
                </Crius_ConfigDanish>
            </modules>
        </translate>
    </adminhtml>
</config>
